<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--style for highlight.js-->
    <%- include style.ejs %>
</head>
<body>
<!--A slide bar to show search and folder or category?  -->
<div class="sidebar dark-blue-bkg">
    <ul>
        <% for(var i = 0;i < dir.length;i++) { %>
        <li>
            <a href="<%= dir[i].path %>">
                <% if(dir[i].dir) { %>
                    <i class="fa fa-folder"></i>
                <% } else {%>
                    <i class="fa fa-file"></i>
                <% }%>
                <%= dir[i].path %>
            </a>
        </li>
        <% } %>
    </ul>
</div>
<div class="markdown-content">
    <%- markdown.content %>
</div>
<div class="markdown-toc">
    <%- markdown.toc %>
</div>
<div class="cls"></div>
<%- include script.ejs %>
</body>
</html>