<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--style for highlight.js-->
    <%- include style.ejs %>
</head>
<body>
<!--A slide bar to show search and folder or category?  -->
<div class="sidebar dark-blue-bkg">
    <h2>Doc viewer</h2>
    <div>A da da</div>
</div>
<div class="markdown-content">
    <%- markdown.content %>
</div>
<div class="markdown-toc">
    <%- markdown.toc %>
</div>
<div class="cls"></div>
<%- include script.ejs %>
</body>
</html>