<!DOCTYPE html>
<html>
<head>
    <title>folder</title>
    <!--style for highlight.js-->
    <%- include style.ejs %>
</head>
<body>
<ul>
    <% for(var i = 0;i < dir.length;i++) { %>
    <li><a href="<%= dir[i].path %>"><%= dir[i].path %> <%= dir[i].dir %></a></li>
    <% } %>
</ul>
<div class="markdown-content">
    <%- markdown.content %>
</div>
<div class="markdown-toc">
    <%- markdown.toc %>
</div>
<%- include script.ejs %>
</body>
</html>
